@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@media screen and (max-width: 640px) {
  .main {
    padding: 0;
  }
}

.app {
  @apply relative flex flex-grow justify-center items-center flex-col mx-auto px-2 my-3 min-w-full;
}

.header {
  @apply relative flex py-1 mx-auto px-16  bg-gray-500 min-w-full;
}

.black_btn {
  @apply rounded-full border border-black bg-black py-1.5 px-5 text-white transition-all hover:bg-white hover:text-black text-center text-sm font-inter flex items-center justify-center;
}

.outline_btn {
  @apply rounded-full border border-black bg-transparent py-1.5 px-5 text-black transition-all hover:bg-black hover:text-white text-center text-sm font-inter flex items-center justify-center;
}

.head_text {
  @apply mt-5 text-5xl font-extrabold leading-[1.15] text-black sm:text-6xl;
}

.desc {
  @apply mt-5 text-lg text-gray-600 sm:text-xl max-w-2xl;
}

.search_input {
  @apply rounded-md border border-gray-200 bg-white py-2.5 font-satoshi pl-5 pr-12 text-sm shadow-lg font-medium focus:border-black focus:outline-none focus:ring-0;
}

.search-icon {
  @apply absolute inset-y-0 end-0 flex items-center
}

.copy_btn {
  @apply w-7 h-7 rounded-full bg-white/10 shadow-[inset_10px_-50px_94px_0_rgb(199,199,199,0.2)] backdrop-blur flex justify-center items-center cursor-pointer;
}

.feed {
  @apply mx-auto w-full max-w-2xl flex flex-row gap-2;
}

.profile {
  @apply mx-auto w-full max-w-6xl flex flex-grow;
}

.grid_container {
  @apply grid flex-grow;
}

.grid_container {
  display: grid;
  grid-template-columns: 1.25fr 1fr;
  grid-template-rows: 1fr 2fr;
  grid-template-areas: 
    "header header"
    "main sidebar";
}

.grid_header {
  grid-area: header;
  background-color: lightblue;
}

.grid_section {
  grid-area: main;
  background-color: lightgreen;
}

.grid_sidebar {
  grid-area: sidebar;
  background-color: lightcoral;
}

.form_textarea {
  @apply w-full flex rounded-lg h-[200px] mt-2 p-3 text-sm text-gray-500 outline-0;
}

.form_input {
  @apply w-full flex rounded-lg mt-2 p-3 text-sm text-gray-500 outline-0;
}

.logo_text {
  @apply max-sm:hidden font-satoshi font-semibold text-lg text-black tracking-wide;
}

.dropdown {
  @apply flex justify-end w-20 truncate rounded-md border text-gray-500 border-gray-200 bg-white py-2.5 font-satoshi px-3 text-sm shadow-lg font-semibold cursor-pointer;
}

.dropdown_menu {
  @apply flex absolute z-10 min-w-max truncate rounded-md border text-gray-500 border-gray-200 bg-white py-2.5 font-satoshi px-3 text-sm shadow-lg;
}


.dropdown_link {
  @apply flex flex-row justify-items-end text-sm font-satoshi p-1 space-x-2 text-gray-700 hover:text-gray-500 font-medium cursor-pointer;
}

.dropdown_title {
  @apply flex flex-row p-2 m-0;
}

.dropdown_horizontal_line {
  @apply my-2;
}

.dropdown_hidden {
  @apply pointer-events-none opacity-0;
}

.flex-center {
  @apply flex justify-center items-center;
}

.flex-start {
  @apply flex justify-start items-start;
}

.flex-end {
  @apply flex justify-end items-center;
}

.flex-between {
  @apply flex justify-between items-center;
}