@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas%20Neue:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abel:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Figtree:wght@100;200;300;400;500;600;700;800;900&display=swap");


@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --cosmic-cobalt: theme('colors.cosmic-cobalt');
  --cream: theme('colors.cream');
  --dark-cosmic: theme('colors.dark-cosmic');
}

@media screen and (max-width: 640px) {
  .main {
    padding: 0;
  }
}

.app {
  @apply relative flex flex-grow items-center flex-col mx-auto px-2 my-3 min-w-full overflow-hidden;
}

.header {
  @apply relative flex py-1 mx-auto px-16  bg-gray-500 min-w-full;
}

.feed {
  @apply mx-auto w-full max-w-2xl flex flex-row gap-2;
}

.profile {
  @apply relative flex flex-grow items-center flex-col my-5;
}

.black_btn {
  @apply rounded-full border border-black bg-black py-1.5 px-5 text-white transition-all hover:bg-white hover:text-black text-center text-sm font-inter flex items-center justify-center;
}

.outline_btn {
  @apply rounded-full border border-black bg-transparent py-1.5 px-5 text-black transition-all hover:bg-black hover:text-white text-center text-sm font-inter flex items-center justify-center;
}

.head_text {
  @apply mt-5 text-5xl font-extrabold leading-[1.15] text-black sm:text-6xl;
}

.desc {
  @apply mt-5 text-lg text-gray-600 sm:text-xl max-w-2xl;
}

.search_input {
  @apply rounded-md border border-gray-200 bg-white py-2.5 font-satoshi pl-5 pr-12 text-sm shadow-lg font-medium focus:border-black focus:outline-none focus:ring-0;
}

.search-icon {
  @apply absolute inset-y-0 end-0 flex items-center cursor-pointer;
}

.copy_btn {
  @apply w-7 h-7 rounded-full bg-white/10 shadow-[inset_10px_-50px_94px_0_rgb(199,199,199,0.2)] backdrop-blur flex justify-center items-center cursor-pointer;
}

.grid_container {
  display: grid;
  grid-template-columns: 1.25fr 1fr;
  grid-template-rows: 1fr 2fr;
  grid-template-areas: 
    "header header"
    "main sidebar";
}

.grid_header {
  grid-area: header;
  background-color: lightblue;
}

.grid_section {
  grid-area: main;
  background-color: lightgreen;
}

.grid_sidebar {
  grid-area: sidebar;
  background-color: lightcoral;
}

.form_textarea {
  @apply w-full flex rounded-lg h-[200px] mt-2 p-3 text-sm text-gray-500 outline-0;
}

.form_input {
  @apply w-full flex rounded-lg mt-2 p-3 text-sm text-gray-500 outline-0;
}

.logo_text {
  @apply max-sm:hidden font-satoshi font-semibold text-lg text-black tracking-wide;
}

.dropdown {
  @apply flex justify-end w-20 truncate rounded-md border text-gray-500 border-gray-200 bg-white py-2.5 font-satoshi px-3 text-sm shadow-lg font-semibold cursor-pointer;
}

.dropdown_menu {
  @apply flex absolute z-10 min-w-max truncate rounded-md border text-gray-500 border-gray-200 bg-white py-2.5 font-satoshi px-3 text-sm shadow-lg;
}

.dropdown_link {
  @apply flex flex-row justify-items-end text-sm font-satoshi p-1 space-x-2 text-gray-700 hover:text-gray-500 font-medium cursor-pointer;
}

.dropdown_title {
  @apply flex flex-row p-2 m-0;
}

.dropdown_horizontal_line {
  @apply my-2;
}

.dropdown_hidden {
  @apply pointer-events-none opacity-0;
}

.flex-center {
  @apply flex justify-center items-center;
}

.flex-start {
  @apply flex justify-start items-start;
}

.flex-end {
  @apply flex justify-end items-center;
}

.flex-between {
  @apply flex justify-between items-center;
}

.search-list-item {
  @apply font-inter text-dark-grey ps-3
}

.loader-lg {
  @apply mx-auto w-full max-w-2xl flex justify-center items-center;
  border: 5px solid #d3d3d3;
  border-top: 5px solid var(--cosmic-cobalt);
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 2s linear infinite;
}

.loader-small {
  border: 3px solid #d3d3d3;
  border-top: 3px solid var(--cosmic-cobalt);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
}

.loader-container {
  @apply w-full h-full flex justify-center items-center;
}

.tooltip {
  @apply font-inter font-normal text-white bg-dark-cosmic rounded-sm border border-white border-solid absolute min-h-max pointer-events-none;
  width: 250px;
  text-align: start;
  z-index: 101;
}

.tooltip-container {
  @apply m-3 py-1;
}

.tooltip-item-title {
  @apply w-full max-h-min flex flex-row font-inter items-baseline justify-between;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.container-items {
  @apply  bg-cosmic-cobalt border border-cream border-solid p-3 flex flex-wrap relative max-w-xl justify-evenly;
}


.title-items {
  @apply font-bebas text-2xl bg-cosmic-cobalt py-1 px-3 inline-block rounded-t border-t border-l border-r border-white text-shadow text-white relative;
  margin-bottom: -1px; /* Pulls the next element up by 1px */
  z-index: 10; /* Ensures this element is above the next one */
}

.title-profile-header {
  @apply text-5xl font-bold font-oswald ps-6 inline-block text-white;
}

.subheader-profile-header {
  @apply text-3xl font-bold font-oswald ps-6 inline-block text-viola;
}

.text-shadow {
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.35);
}

.custom-avatar-size {
  width: 90px;
  height: 90px;
}

@media (min-width: 768px) { /* Tailwind's 'md' breakpoint */
  .custom-avatar-size {
      width: 90px;
      height: 90px;
  }
}

@media (min-width: 1024px) { /* Tailwind's 'lg' breakpoint */
  .custom-avatar-size {
      width: 68px;
      height: 68px;
  }
}

.arrow {
  position: 'absolute';
  background-color: 'var(--dark-cosmic)';
}

.profile-grid-section {
  @apply flex flex-col justify-center items-center p-10 gap-4;
}

.profile .grid {
  @apply flex flex-grow;
  display: grid;
  grid-template-rows: auto; /* Each row takes only the space it needs */
  grid-template-columns: repeat(1, 1fr); /* One column layout for non-large devices */
  gap: 2px;
}

@media (min-width: 1024px) {
  .profile .grid {
      /* Adjust the template rows to allocate space */
      grid-template-rows: min-content 1fr 1fr; /* Adjust as needed */
      grid-template-columns: repeat(5, 1fr);
      gap: 4px;
  }

  .profile .grid article:nth-child(1) {
      grid-row: 1;
      grid-column: 1 / 6; /* Header spans all columns */
  }

  .profile .grid article:nth-child(2) {
      grid-row: 2 / 4;
      grid-column: 1 / 4; /* Section takes up first three columns */
  }

  .profile .grid article:nth-child(3) {
      grid-row: 2 / 4;
      grid-column: 4 / 6; /* Sidebar takes up last two columns */
  }
}
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
