@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar{
  width: 10px;
}

::-webkit-scrollbar-track{
  background: #30343F;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb{
  background: #4b5aa3;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #7785c9;
}

:root {
  --cosmic-cobalt: theme('colors.cosmic-cobalt');
  --cream: theme('colors.cream');
  --dark-cosmic: theme('colors.dark-cosmic');
  --cosmic-purple: theme('colors.cosmic-purple');
  --navy-blue: theme('colors.navy-blue');
  --rose: theme('colors.rose');
  --viola: theme('colors.viola');
  --deep-purple: theme('colors.deep-purple');
  --charcoal: theme('colors.charcoal');
  --dark-grey: theme('colors.dark-grey');
  --dark-wine: theme('colors.dark-wine');
  --wine: theme('colors.wine');
  --forest: theme('colors.forest');
  --coffee: theme('colors.coffee');
}


 
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
 
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
 
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
 
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
 
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
 
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
 
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
 
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
 
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
 
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
 
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
 
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}


@media screen and (max-width: 640px) {
  .main {
    padding: 0;
  }
}

.app {
  @apply relative flex flex-grow items-center flex-col min-w-full overflow-hidden;
}

.header {
  @apply flex mx-auto py-3 px-3 md:px-12 md:py-8 min-w-full shadow-sm backdrop-brightness-[.75];
}

.footer-relative {
  @apply absolute bottom-0 flex items-center justify-center mx-auto py-3 px-3 md:px-12 md:py-8 min-w-full;
}

.feed {
  @apply flex flex-col flex-grow items-end max-w-6xl w-full px-3 gap-4 lg:gap-16 justify-center;
  overflow: hidden;
}

@keyframes zoomIn {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.05);
  }
}

.image-zoom-in {
  animation: zoomIn 0.5s ease-out forwards;
}

.rotate-icon {
  transition: transform 0.3s ease-in-out;
}

.rotate-icon:hover, .rotate-icon.rotated {
  transform: rotate(90deg);
}

.search {
  @apply flex flex-row w-full;
}

.profile {
  @apply relative flex flex-grow flex-row my-5 w-full justify-center;
}

.pageNotFound {
  @apply flex flex-col flex-grow gap-4 md:gap-20 max-w-sm md:max-w-5xl mx-2 md:mx-4 items-center justify-center;
  overflow: hidden;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('/assets/images/ionia-wallpaper-2.jpg');
    background-position: center;
    background-size: cover;
    filter: brightness(40%) saturate(90%);
    z-index: -1; /* Ensures the background is behind the content */
  }

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: radial-gradient(circle, transparent, rgba(5, 26, 33, 1) 50%);
    z-index: -1; /* Ensures the gradient is also behind the content */
  }
}

.black_btn {
  @apply rounded-full border border-black bg-black py-1.5 px-5 text-white transition-all hover:bg-white hover:text-black text-center text-sm font-inter flex items-center justify-center;
}

.outline_btn {
  @apply rounded-full border border-black bg-transparent py-1.5 px-5 text-black transition-all hover:bg-black hover:text-white text-center text-sm font-inter flex items-center justify-center;
}

.head_text {
  @apply mt-5 text-5xl font-extrabold leading-[1.15] text-black sm:text-6xl;
}

.desc {
  @apply mt-5 text-lg text-gray-600 sm:text-xl max-w-2xl;
}

.search_input {
  @apply rounded-sm border border-gray-200 bg-white py-2.5 font-satoshi pl-5 pr-12 text-sm shadow-lg font-medium focus:border-black focus:outline-none focus:ring-0;
}

.search-icon {
  @apply absolute inset-y-0 end-0 flex items-center cursor-pointer;
}

.copy_btn {
  @apply w-7 h-7 rounded-full bg-white/10 shadow-[inset_10px_-50px_94px_0_rgb(199,199,199,0.2)] backdrop-blur flex justify-center items-center cursor-pointer;
}

.form_textarea {
  @apply w-full flex rounded-lg h-[200px] mt-2 p-3 text-sm text-gray-500 outline-0;
}

.form_input {
  @apply w-full flex rounded-lg mt-2 p-3 text-sm text-gray-500 outline-0;
}

.logo_text {
  @apply max-sm:hidden font-satoshi font-semibold text-lg text-black tracking-wide;
}

.dropdown {
  @apply flex justify-end w-20 truncate rounded-sm border text-zinc-700 border-gray-200 bg-white py-2.5 font-satoshi px-3 text-sm shadow-lg font-semibold cursor-pointer;
}

.dropdown_menu_small {
  @apply flex absolute z-10 my-2 rounded-sm whitespace-nowrap border text-gray-500 border-gray-200 bg-white md:py-2.5 font-inter md:px-3 text-sm shadow-lg;
}

.dropdown_menu {
  @apply flex absolute min-w-full z-10 my-2 rounded-sm truncate border text-gray-500 border-gray-200 bg-white md:py-2.5 font-inter md:px-3 text-sm shadow-lg;
  overflow-y: auto;
  max-height: 40vh;
}

@media (min-width: 768px) { /* Adjust '768px' based on your specific breakpoint for medium devices */
  .dropdown_menu {
    max-height: 32vh; /* Max-height for medium devices and larger */
  }
}

.dropdown_link {
  @apply flex flex-row justify-items-end text-sm font-satoshi py-1 space-x-1 text-gray-700 hover:text-gray-500 font-medium cursor-pointer;
}

.dropdown_items {
  @apply w-full p-3;
}

.dropdown_title {
  @apply ps-3;
}

.dropdown_horizontal_line {
  @apply my-2;
}

.dropdown_hidden {
  @apply pointer-events-none opacity-0;
}

.flex-center {
  @apply flex justify-center items-center;
}

.flex-start {
  @apply flex justify-start items-start;
}

.flex-end {
  @apply flex justify-end items-center;
}

.flex-between {
  @apply flex justify-between items-center;
}

.search-list-item {
  @apply font-satoshi text-dark-grey ps-3
}

.loader-lg {
  border: 5px solid #d3d3d3;
  border-top: 5px solid var(--cosmic-cobalt);
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 2s linear infinite;
}

.loader-small {
  border: 3px solid #d3d3d3;
  border-top: 3px solid var(--cosmic-cobalt);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
}
.loader-xs {
  border: 3px solid #d3d3d3;
  border-top: 3px solid var(--cosmic-cobalt);
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 2s linear infinite;
}

.loader-container {
  @apply flex flex-grow justify-center items-center;
}

.tooltip {
  @apply font-inter font-normal text-white bg-dark-cosmic rounded-sm border border-white border-solid absolute min-h-max pointer-events-none;
  width: 250px;
  text-align: start;
  z-index: 101;
}

.tooltip-container {
  @apply m-3 py-1;
}

.tooltip-item-title {
  @apply w-full max-h-min flex flex-row font-inter items-baseline justify-between;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.container-items {
  @apply flex flex-wrap relative justify-center;
}


.title-items {
  @apply font-bebas text-2xl bg-cosmic-cobalt py-1 px-3 inline-block rounded-t border-t border-l border-r border-white text-shadow text-white relative;
  margin-bottom: -1px; /* Pulls the next element up by 1px */
  z-index: 10; /* Ensures this element is above the next one */
}

.title-profile-header {
  @apply text-6xl font-bold font-oswald ps-6 inline-block text-white;
}

.subheader-profile-header {
  @apply text-3xl font-bold font-oswald ps-6 inline-block text-viola;
}

.text-shadow {
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.35);
}

.custom-avatar-size {
  width: 90px;
  height: 90px;
}

@media (min-width: 768px) { /* Tailwind's 'md' breakpoint */
  .custom-avatar-size {
      width: 90px;
      height: 90px;
  }
}

@media (min-width: 1024px) { /* Tailwind's 'lg' breakpoint */
  .custom-avatar-size {
      width: 68px;
      height: 68px;
  }
}

.arrow {
  position: 'absolute';
  background-color: 'var(--dark-cosmic)';
}


.profile .grid {
  @apply w-full min-h-screen;
  display: grid;
  grid-template-rows: auto; /* Each row takes only the space it needs */
  grid-template-columns: repeat(1, 1fr); /* One column layout for non-large devices */
  gap: 1em;
}

@media (min-width: 768px) {
  .profile .grid {
      @apply w-full max-w-7xl;
      grid-template-rows: auto 2fr 2fr;
      grid-template-columns: repeat(5, 1fr);
      gap: 1em;
  }

  .profile .grid section:nth-child(1) {
      grid-row: 1;
      grid-column: 1 / 6; /* Header spans all columns */
  }

  .profile .grid section:nth-child(2) {
      grid-row: 2 / 4;
      grid-column: 1 / 4; /* Section takes up first three columns */
  }

  .profile .grid section:nth-child(3) {
      grid-row: 2 / 4;
      grid-column: 4 / 6; /* Sidebar takes up last two columns */
  }
}

.team {
  display: grid;
  grid-template-rows: auto; /* Each row takes only the space it needs */
  grid-template-columns: 1fr 1fr; /* One column layout for non-large devices */
  gap: 4px;
}

.gameresult {
  @apply min-h-full;
  display: grid;
  grid-template-rows: 1fr 1fr; /* Each row takes only the space it needs */
  grid-template-columns: auto; /* One column layout for non-large devices */
  gap: 1em;
}

@media (min-width: 1024px) {
  .gameresult {
    grid-template-rows: 3fr 2fr; /* Each row takes only the space it needs */
    grid-template-columns: auto; /* One column layout for non-large devices */
  }
  .gameresult .outcome-timestamp, .gameresult .outcome-label {
    @apply items-center;
  }
}

.live-match {
  @apply justify-between;
  display: grid;
  grid-template-columns: 3fr auto 2fr auto;
  grid-template-rows: repeat(1, 1fr) ; 
}

@media (min-width: 768px) {
  .live-match {
    grid-template-columns: 3fr 2fr 2fr auto;
    grid-template-rows: repeat(1, 1fr); 
  }
}

.match {
  display: grid;
  grid-template-rows: auto 2fr auto auto ; /* Each row takes only the space it needs */
  grid-template-columns: repeat(1, 1fr); /* One column layout for non-large devices */
}


@media (min-width: 1024px) {
  .match {
      @apply w-full py-0;
      grid-template-rows: auto;
      grid-template-columns: 1fr 4fr 2fr auto;
  }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes shimmer {
  0% {
    background-position: -40rem 0;
  }
  100% {
    background-position: 40rem 0;
  }
}

.profile-grid-section {
  @apply flex flex-col flex-grow gap-4;
}

.shimmer-effect {
  @apply h-full w-full;
  animation: shimmer 1.25s infinite linear;
  background: linear-gradient(
    to right, 
    rgba(255, 255, 255, 0) 15%, 
    rgba(75, 99, 163, 0.25) 50%, /* Midpoint with color */
    rgba(255, 255, 255, 0) 85%
  );
  background-size: 80rem 100%;
}

.btn_default {
  @apply border-2 rounded-full bg-zinc-700 text-2xl font-abel py-1 px-4 text-stone-300 border-stone-500 hover:bg-zinc-600 md:py-2 md:px-5 md:text-3xl;
}

.btn_default_sm_rectangle {
  @apply border-2 rounded-md bg-zinc-700 text-2xl font-abel py-1 px-4 text-neutral-100 border-stone-500 hover:bg-zinc-600;
}

.info_title-profile-header {
  @apply text-xl md:text-2xl font-bold font-oswald text-rose;
}

.info_subheader-profile-header {
  @apply text-xl md:text-2xl font-bold font-oswald text-white;
}

.container-match {
  @apply flex flex-col flex-wrap relative border border-solid;
}

.title-match {
  @apply flex flex-row flex-grow justify-evenly items-center text-center py-4 space-y-6
}

.game-stats-container {
  @apply flex flex-row space-x-5
}

.champion-level-container {
  @apply flex items-center justify-center absolute bottom-0 right-0 bg-slate-900 text-white rounded-full w-8 h-8
}

.vision-score-container {
  @apply flex items-center justify-center absolute -bottom-1 -right-1 bg-slate-900 text-white text-sm rounded-full w-6 h-6 pointer-events-none
}

.icons-match {
  @apply flex flex-row flex-grow
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #a1a1a1;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: var(--cosmic-cobalt);
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.container-header {
  background-image: linear-gradient(to bottom, 
  #120f0f 0%, 
  #1a1a1a 20%,
  #120f0f 100%);
}

.rank-card {
  background: radial-gradient(#1A2B52, #120f0f, #385816);
}

.container-live {
  @apply bg-colorblind-win-primary border-colorblind-win-secondary;
}

.container-victory {
  @apply bg-forest border-forest-light;
  background-image: linear-gradient(to right, 
  var(--forest) 0%, 
  #385816 30%,
  var(--forest) 75%);
}

.container-defeat {
  @apply bg-dark-wine border-grape;
  background-image: linear-gradient(to right, 
  var(--dark-wine) 0%, 
  #452219 30%,
  var(--dark-wine) 100%);
}

.container-remake {
  @apply border-gray-900;
  background-image: linear-gradient(to right, 
  #30343F 0%, 
  #45504c 30%,
  #30343F 100%);
}

.container-remake-colorblind {
  @apply border-gray-900 bg-[#30343F];
}

.container-victory-colorblind {
  @apply bg-colorblind-win-primary border-colorblind-win-secondary
}

.container-defeat-colorblind {
  @apply bg-dark-wine border-grape
}

.badge-iron {
  @apply  bg-[#5f5f5d];
}

.badge-bronze {
  @apply  bg-[#7E5134];
}

.badge-silver {
  @apply  bg-[#797f71];
}

.badge-gold {
  @apply  bg-[#98751e];
}

.badge-platinum {
  @apply  bg-[#377c82];
}

.badge-emerald {
  @apply  bg-[#326d4d];
}

.badge-diamond {
  @apply  bg-[#486bbf];
}

.badge-master {
  @apply  bg-[#95349d];
}

.badge-grandmaster {
  @apply  bg-[#ab2d27];
}

.badge-challenger {
  @apply  bg-[#48a3e2];
}

.neumorphism-1 {
  border-radius: 150px;
  background-image: linear-gradient(to right, 
  var(--forest) 0%, 
  #385816 30%,
  var(--forest) 75%);
box-shadow:  6px 6px 12px #0f0e0e
}

.loading-border {
  border-image-outset: 40px;
}

.defaultWinrateBadge {
  @apply bg-[#6a7883];
}

.moderateWinrateBadge {
  @apply bg-[#4b79ce];
}

.impressiveWinrateBadge {
  @apply bg-[#8c6cff];
}

.eliteWinrateBadge {
  @apply bg-[#d1903b];
}

.multikillBadge {
  @apply bg-[#465789];
}

.pentakillBadge {
  @apply bg-[#92631c];
}

.pentakillGlow {
  @apply absolute -inset-0.5 bg-gradient-to-r from-amber-600 to-amber-600 rounded-full opacity-25 group-hover:blur group-hover:opacity-100 transition duration-1000 group-hover:duration-100;
}

.border-crop {
    -webkit-border-radius: 9999px;
    -moz-border-radius: 9999px;
    border-radius: 9999px;
}

.button-skeuomorphic {
  &:hover {
		box-shadow: 
			4px 4px 6px rgba(0,0,0,.2), 
			5px 10px 35px rgba(0,0,0,.1),
			8px 10px 25px rgba(0,0,0,.1),
			inset -1px -1px 9px rgba(0,0,0,.2),
			inset -1px -1px 3px rgba(255,255,255,.6),
			inset 1px 1px 8px rgba(255,255,255,1),
			inset 4px 4px 24px rgba(0,0,0,.15),
			-5px -5px 15px rgba(255,255,255,.9);
		transform: scale(.98);
  }
}

.button-hover-animation {
  @apply p-2 md:py-2 md:ps-3 md:pe-5 transition ease-in-out delay-75 hover:bg-neutral-600 rounded-full items-center text-center;
}